<div class="divlistahistorico">
    <div class="divlistahistorico">
        <table class="tablelistahistorico" *ngIf="historico.length > 0">
            <tr class="trlistahistorico">
                <th class="thlistahistorico">Paciente</th>
                <th class="thlistahistorico">Medicamento</th>
                <th class="thlistahistorico">Doenca</th>
                <th class="thlistahistorico">Data</th>
            </tr>
            <tr class="trlistadoencas" *ngFor="let historico of historico">
                <td class="thlistadoencas">{{historico.paciente}}</td>
                <td class="thlistadoencas">{{historico.medicamento}}</td>
                <td class="thlistadoencas">{{historico.doenca}}</td>
                <td class="thlistadoencas">{{historico.data}}</td>
            </tr>
        </table>
    </div>
</div>