<div class="divlistadoencas">
    <div class="divlistadoencas">
        <table class="tablelistadoencas" *ngIf="doencas.length > 0">
            <tr class="trlistadoencas">
                <th class="thlistadoencas">Nome</th>
                <th class="thlistadoencas">Desc</th>
                <th class="thlistadoencas">agressividade</th>
            </tr>
            <tr class="trlistadoencas" *ngFor="let doenca of doencas">
                <td class="tdlistadoencas">{{doenca.nome}}</td>
                <td class="tdlistadoencas">{{doenca.descricao}}</td>
                <td class="tdlistadoencas">{{doenca.agressividade}}</td>
                <td class="tdlistadoencas"><button type="submit" (click)="delete(doenca)" value="delete" class="btnlistadoencas">Delete</button></td>
            </tr>
        </table>
    </div>
</div>

<button type="submit" (click)="reload()">refresh</button>